@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css);

/* font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif; */

html{
    /*Genera animaciones de punto de ancla(La renderización hace un traveling desde donde clickamos hasta el punto de destino*/
    scroll-behavior: smooth;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

*{
    box-sizing: border-box;
}

:root{
    --fuentePrincipal:'Montserrat', sans-serif;
    --fuenteSecundaria:'Handlee', cursive;
    --colorPrincipal: #fa573a;
    --colorSecundario: #21242e;
    --colorPrincipalTransparente:#fa573aef;
    --fontsize: 1em;
    --margingrid: 1em;
    --anchomaximo:1100px;
}


body{
    font-family: var(--fuentePrincipal);
    font-size: var(--fuenteSecundaria);
}

.container{
    max-width: var(--anchomaximo);
    margin:0 auto;

}

/*Inicio Header*/
header .nav-top{
    background-color: var(--colorSecundario);
    padding: 20px 0px;
}

header .nav-top .container{
    
    display: flex;
    justify-content: space-around;

}


header .nav-top a{
    color: var(--colorPrincipal);
    text-decoration: none;
}

header .nav-top a i{
    font-size: calc(var(--fontsize)*2);
}

header .nav-top a span{
    color: white;
    display: none;
}

header .nav-top .fa-phone{
    transform: rotate(270deg);
}




header nav  {
    padding: 20px 10px;
}

header nav .logo{
    float: left;
    max-width: 100px;
}

header nav .hamburguesa{
    float: right;
    width: 2em;
    cursor: pointer;
}



header nav .hamburguesa div{
    border-top: 2px solid #aaa;
    margin-bottom: 0.625em;
}

header nav .menu{
    clear: both;
    padding-top: 00.625em;
    text-align: center;

}

header nav .menu a{
    display: block;
    text-decoration: none;
    padding: 1.25em;
    color: #aaa;
    border-bottom: 1px solid #aaa;
}

header nav .menu a:hover{
    
    color: var(--colorPrincipal);
    
}
header nav .menu .activo{
    color: var(--colorPrincipal);
}

header nav li:last-child a{
    border-bottom: none;
}

header nav:after{
    clear: both;
    content:"";
    display: block;
    height: 0%;
}

/*Fin header*/

/*Inicio HERO*/

.hero{
    background-image: url(../images/fondo.jpg);
    background-color: #777;
    background-blend-mode: multiply;
    height: 60vh;
    background-position: center center;
    background-size: cover;
    display: flex;
    
    
}

.hero .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 95%;
}


.hero h1 {
    font-family: var(--colorSecundario);
    font-size: calc(var(--fontsize * 2.3));
    color: white;
}

.hero h2{
    color: var(--colorPrincipal);
    font-size: 1.25em;
    margin: var(--margingrid) 0;
    text-shadow: 1px 1px 3px black;
}

.hero p{
    color: white;
    font-size: 1.15em;
}

.boton{
    display: inline-block;
    background-color: var(--colorPrincipal);
    color: white;
    text-decoration: none;
    padding: 1.15em;
    margin: var(--margingrid) 0;
    border: 1px solid var(--colorPrincipal);
}

.boton:hover{
    color: var(--colorPrincipal);
    background-color: transparent;
    border: 1px solid var(--colorPrincipal);
}

.boton:hover i{
    transition: 0.5s;
    transform: translateX(5px);
}


.hero .social{
    display: flex;
    width: 150px;
    justify-content: space-between;
}

.hero .social a{
    
    color: white;
    text-decoration: none;
    font-size: 2em;
    
}
/*Final HERO*/


/*Inicio Services*/

main section{
    padding: 3em 1em ;
}

main section h2{
    color: black;
    font-family: var(--fuenteSecundaria);
    font-size: 2em;
    text-align: center;
}
main section h2 span{
    color: var(--colorPrincipal);
}

main section .underline{
    position: relative;
    width: 100px;
    margin: 0 auto;
    font-weight: bold;
    color: var(--colorPrincipal);
    text-align: center;
}

main section .underline hr{
    position: absolute;
    width: 100%;
    border-color: var(--colorPrincipal);
    top: -1px;
    
}

main section .flex{
    display: flex;
    flex-wrap: wrap;

}

main section .flex article{
    width: 100%;
    padding: 2em 0em;
    border-bottom: 1px solid grey;
}

main section .flex article h3{
    font-weight: 700;
    margin: 1em 0em;

}


main section p{
    color:#777;
    line-height: 1.10em;
    margin-bottom: 0.5em;

}

.enlace{
    text-decoration: none;
    color: var(--colorPrincipal);
    font-weight: 700;

}

main section .flex article div i{
    border: 1px solid var(--colorPrincipal);
    color: var(--colorPrincipal);
    font-size: 150%;
    padding: 0.5em;
}

.fa-truck{

    transform: rotateY(180deg);
}
/*Final Services*/

/*Inicio del About Us*/

main section h3{    
    font-weight: 700;
    font-size: 110%;
}

main section h4{
    color: var(--colorPrincipal);
    font-weight: 700;
    margin: var(--margingrid) 0;
    
}

main #aboutus figure{
    width: 90%;
    margin: 2em auto;

}
  

main #aboutus figure .marco{
    border: 3px solid var(--colorPrincipal);
    transform: rotateZ(10deg);
    transition: 1s;

}

main #aboutus figure .marco img{
    transform: rotateZ(-10deg);
    transition: 1s;

}

main #aboutus figure:hover .marco, main #aboutus figure:hover .marco img{
    transform: rotateZ(0deg);

}





/*Fin del About Us*/

/*Inicio Footer*/

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--colorSecundario);
    color: white;
    padding:  1em 0.625em;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;

}

footer a:hover{
    color: var(--colorPrincipal);
}


.arriba{
    position: fixed;
    bottom: 50px;
    right: 10px;
    font-size: 2em;
    
}

.arriba a{
    color: var(--colorPrincipal);
}

/*Final Footer*/


/*Inicio Blog*/

main section .flexblog{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 15px 0px;
    
}

main section .flexblog article{
    width: calc(50% - 10px);
    margin: 0 5px;
    
}

main section .flexblog div.watermark{
    width: 70px;
    height: 70px;
    background-color: var(--colorPrincipalTransparente);
    opacity: 0.9;
    text-align: center;    
    padding: 10px 0px;
}

main section .flexblog div.watermark p{
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.35;
    margin-bottom: 0em;
    
}

main section .flexblog figure{
    position: relative;
}

main section .flexblog figure .watermark{
    position: absolute;
    top:0;
    left:0;
}


main section .flexblog article h3{
    font-weight: 700;
    margin: 1em 0em;
    font-size: 1.1em;
    text-transform: capitalize ;

}

main section .flexblog article h4{
    font-weight: 700;
    color: var(--colorPrincipal);
    margin: 1em 0em;
    font-size: 1em;
}


main section .flexblog article .articlebody p{
    font-weight: 700;    
    margin: 0em 0em;
    font-size: 1em;
    
}


main section .flexblog article p a{
    font-weight: 700;    
    color: var(--colorPrincipal);
    margin: 1em 0em;
    font-size: 1em;
    text-decoration: none;
}

main section .flexblog article .articlebody{
    padding: 0px 10px;
}


/*Final Blog*/



/* Inicio del Menu */

#mainmenu{
    background-color: var(--colorSecundario);
}



/* Final del Menu */




/*****************************************/
/*********   MEDIAQUERIES        *********/

@media(min-width:37.500em)
{
    main section .flex article{
        width: calc(50% - (2*var(--margingrid)));
        padding: 0em var(--margingrid);
        border-left: 1px solid grey;
        border-bottom: 0;
        margin: var(--margingrid);
    }

    main section .flex article:last-child{
        width: 100%;
    }
   
    main #aboutus .columna{
        width: 50%;
        padding: 1.5em;
    }

    main #aboutus figure{
        width: 90%;
        margin: 0 auto;
    
    }

}


/*Media de 768px */
@media(min-width:48em){
    header .nav-top a span{        
        display: inline;
    }
    header .nav-top .container{
        justify-content: space-between;    
    }

    main section .flex article, main section .flex article:last-child{
        width: calc(33.333% - (2*var(--margingrid)));
    }

    footer{
        text-align: left;
    }

}


/*media de 1004px*/
@media(min-width:62.75em){

header nav .hamburguesa{
    display: none;
}


header nav .menu{
    float: right;
    padding-top:0px ;
    clear: none;
}

header nav .menu li{
    display: inline-block;
}

header nav .menu a{
    padding: 0em;  
    border-bottom: none;
    padding: 0.4em 1.25em;
}

header nav:after{
    clear: both;
    content:"";
    display: block;
    height: 0%;
}


main section .flexblog article{
    width: calc(33.333% - 10px);
    margin: 0 5px;
    
}
}