@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css);

/* font-family: 'Handlee', cursive;
font-family: 'Montserrat', sans-serif; */

html{
    /*Genera animaciones de punto de ancla*/
    scroll-behavior: smooth;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

*{
    box-sizing: border-box;
}

:root{
    --fuentePrincipal:'Montserrat', sans-serif;
    --fuenteSecundaria:'Handlee', cursive;
    --colorPrincipal: #fa573a;
    --colorSecundario: #21242e;
    --fontsize: 1em;
    --margingrid: 1em;
    --anchomaximo:1100px;
}


body{
    font-family: var(--fuentePrincipal);
    font-size: var(--fuenteSecundaria);
}

.container{
    max-width: var(--anchomaximo);
    margin:(0 auto);

}

/*Inicio Header*/
header .nav-top{
    background-color: var(--colorSecundario);
    padding: 20px 0px;
}

header .nav-top .container{
    
    display: flex;
    justify-content: space-around;

}


header .nav-top a{
    color: var(--colorPrincipal);
    text-decoration: none;
}

header .nav-top a i{
    font-size: calc(var(--fontsize)*2);
}

header .nav-top a span{
    color: white;
    display: none;
}

header .nav-top .fa-phone{
    transform: rotate(270deg);
}




header nav  {
    padding: 20px 10px;
}

header nav .logo{
    float: left;
    max-width: 100px;
}

header nav .hamburguesa{
    float: right;
    width: 2em;
    cursor: pointer;
}



header nav .hamburguesa div{
    border-top: 2px solid #aaa;
    margin-bottom: 0.625em;
}

header nav .menu{
    clear: both;
    padding-top: 00.625em;
    text-align: center;

}

header nav .menu a{
    display: block;
    text-decoration: none;
    padding: 1.25em;
    color: #aaa;
    border-bottom: 1px solid #aaa;
}

header nav .menu a:hover{
    
    color: var(--colorPrincipal);
    
}
header nav .menu .activo{
    color: var(--colorPrincipal);
}

header nav li:last-child a{
    border-bottom: none;
}

/*Fin header*/
@media(min-width:48em){
    header .nav-top a span{        
        display: inline;
    }
    header .nav-top .container{
        justify-content: space-between;    
    }
}